# Sesion 1

## Variables

In [1]:
print("Hola mundo")

Hola mundo

In [3]:
"Melissa Ruiz"

'Melissa Ruiz'

In [5]:
26
type(26)

int

In [6]:
1.80
type(1.80)

float

In [7]:
True
type(True)

bool

In [8]:
False
type(False)

bool

In [9]:
type("Melissa Ruiz")

str

In [2]:
mi_nombre = "Melissa Ruiz"

In [4]:
mi_nombre

'Melissa Ruiz'

In [8]:
mi_edad = 28

In [7]:
mi_altura = 1.73

In [5]:
mi_nombre

'Melissa Ruiz'

In [9]:
mi_altura

1.73

In [10]:
print(mi_nombre)
print(mi_altura)

Melissa Ruiz
1.73

## Format

1. Format Manual (Concatenar)
2. Fomat parentesis
3. F strings

In [11]:
print("Mi nombre es: " + mi_nombre)

Mi nombre es: Melissa Ruiz

In [12]:
print("Mi edad es %i" % mi_edad)

Mi edad es 28

In [13]:
print("La altura {} y mi nombre es {}".format(mi_altura, mi_nombre))

La altura 1.73 y mi nombre es Melissa Ruiz

In [14]:
print("La altura {1} y mi nombre es {0}".format(mi_altura, mi_nombre))

La altura Melissa Ruiz y mi nombre es 1.73

In [15]:
print(f"Mi nombre es {mi_nombre} y mi edad es {mi_edad}")

Mi nombre es Melissa Ruiz y mi edad es 28

In [17]:
print(f"{mi_nombre:-<20}|{mi_edad:->3}")

Melissa Ruiz--------|-28

### Declaracion de variables numericas

In [19]:
a = 10
b = 5

In [20]:
print(a + b)

15

In [21]:
c, d = 20, 25

In [22]:
print(c + d)

45

In [3]:
print(f"La suma de {c} + {d} es {c + d}")

La suma de 20 + 25 es 45

**Ejercicio: Imprimir la multiplicacion de c y d**

In [4]:
print(f"La multiplicacion de {c} x {d} es {c*d}")

La multiplicacion de 20 x 25 es 500

In [23]:
mi_nombre = input("Dame tu nombre")

In [26]:
mi_edad = input("Dame tu edad")
mi_edad * 5

'2828282828'

In [27]:
int("5")

5

In [28]:
type(int("5"))

int

In [29]:
mi_edad = input("Dame tu edad")
mi_edad = int(mi_edad)
mi_edad * 5

140

In [30]:
mi_edad = int(input("Dame tu edad"))
mi_edad * 10

280

## Listas (arrays para los que vienen de js y c)

In [31]:
list()

[]

In [32]:
["Daniel", "Rogelio"]

['Daniel', 'Rogelio']

In [33]:
[25, 23]

[25, 23]

In [34]:
[True, False]

[True, False]

In [35]:
["Daniel", 25, 1.80, True]

['Daniel', 25, 1.8, True]

In [36]:
frutas = ["Manzana", "Pera", "Naranja"]

In [37]:
print(frutas)

['Manzana', 'Pera', 'Naranja']

In [38]:
list(enumerate(frutas))

[(0, 'Manzana'), (1, 'Pera'), (2, 'Naranja')]

In [39]:
frutas[1]

'Pera'

In [40]:
frutas[2]

'Naranja'

**Meter elementos a una lista**

In [41]:
lista_vacia = []

In [42]:
frutas.append("Uva")

In [43]:
frutas

['Manzana', 'Pera', 'Naranja', 'Uva']

## Slice

In [44]:
frutas[1:2]

['Pera']

In [45]:
frutas[1:3]

['Pera', 'Naranja']

In [46]:
frutas[-1]

'Uva'

In [47]:
frutas[-2]

'Naranja'

In [48]:
frutas[::-1]

['Uva', 'Naranja', 'Pera', 'Manzana']

In [49]:
"Daniel"[1]

'a'

In [50]:
"Daniel"[-1]

'l'

In [51]:
"Daniel"[::-1]

'leinaD'

In [52]:
"anita lava la tina"[::-1]

'anit al aval atina'

**Ejercicio: crear una lista que contenga 10 números desordenados que vayan entre 0 y 100**

In [53]:
numeros = [10,15,5,2]

In [54]:
numeros.sort()

In [55]:
numeros

[2, 5, 10, 15]

In [56]:
numeros.sort(reverse=True)

In [57]:
numeros

[15, 10, 5, 2]

In [58]:
sum(numeros)

32

**Ejercicio: sacar el promedio de sus números, guardar en una variable llamada promedio**

In [59]:
suma = sum(numeros)
n = 4

promedio = suma / n
promedio

8.0

In [60]:
len(numeros)

4

In [61]:
suma = sum(numeros)
n = len(numeros)

promedio = suma / n
promedio

8.0

In [62]:
min(numeros)

2

In [63]:
max(numeros)

15

## Diccionarios

In [64]:
dict()

{}

In [65]:
capitales = { "España": "Madrid", "Francia": "París", "Alemania": "Berlín" }

In [66]:
print(capitales)

{'España': 'Madrid', 'Francia': 'París', 'Alemania': 'Berlín'}

In [67]:
capitales

{'España': 'Madrid', 'Francia': 'París', 'Alemania': 'Berlín'}

In [68]:
capitales['España']

'Madrid'

In [69]:
capitales['Francia']

'París'

In [70]:
capitales.keys()

dict_keys(['España', 'Francia', 'Alemania'])

In [71]:
capitales.values()

dict_values(['Madrid', 'París', 'Berlín'])

In [72]:
capitales.items()

dict_items([('España', 'Madrid'), ('Francia', 'París'), ('Alemania', 'Berlín')])

**Agregar un elemento a un diccionario**

In [73]:
capitales['México'] = 'CDMX'

In [74]:
capitales

{'España': 'Madrid',
 'Francia': 'París',
 'Alemania': 'Berlín',
 'México': 'CDMX'}

In [75]:

datos_amigo = {"name": "Mario", "país": "Colombia"}

In [76]:
datos_amigo['frutas'] = frutas

In [77]:
datos_amigo

{'name': 'Mario',
 'país': 'Colombia',
 'frutas': ['Manzana', 'Pera', 'Naranja', 'Uva']}

In [78]:
datos_amigo2 = {"name": "Angeles", "país": "Chile"}

In [79]:
amigos = [datos_amigo, datos_amigo2]

In [80]:
amigos

[{'name': 'Mario',
  'país': 'Colombia',
  'frutas': ['Manzana', 'Pera', 'Naranja', 'Uva']},
 {'name': 'Angeles', 'país': 'Chile'}]

In [81]:
len(amigos)

2